In [40]:
import geopandas as gpd

In [41]:
cities_shp = gpd.read_file("../temp/places/ne_10m_populated_places_simple.shp", layer='ne_10m_populated_places_simple')

In [51]:
filter_capital = (cities_shp["featurecla"] == "Admin-0 capital")

In [52]:
filter_region_capital = (cities_shp["featurecla"] == "Admin-0 region capital")

In [53]:
filter_history_capital = (cities_shp["featurecla"] == "Admin-0 capital alt")

In [54]:
filter_adm_capital = (cities_shp["featurecla"] == "Admin-1 capital")

In [55]:
filter_adm_region_capital = (cities_shp["featurecla"] == "Admin-1 region capital")

In [56]:
city = (cities_shp["featurecla"] == "Populated place")

In [57]:
scientific_station = (cities_shp["featurecla"] == "Scientific station")

In [58]:
cities_columns = cities_shp.loc[filter_capital, ["name", "latitude", "longitude", "featurecla" ,"sov_a3", "geometry"]]

In [59]:
cities_columns

,name,latitude,longitude,featurecla,sov_a3,geometry
880,Vatican City,41.903282,12.453387,Admin-0 capital,VAT,POINT (12.45339 41.90328)
4828,San Marino,43.936096,12.441770,Admin-0 capital,SMR,POINT (12.44177 43.93610)
4833,Vaduz,47.133724,9.516670,Admin-0 capital,LIE,POINT (9.51667 47.13372)
5012,Luxembourg,49.611660,6.130003,Admin-0 capital,LUX,POINT (6.13000 49.61166)
6178,Palikir,6.916644,158.149974,Admin-0 capital,FSM,POINT (158.14997 6.91664)
...,...,...,...,...,...,...
7330,Cairo,30.051906,31.248022,Admin-0 capital,EGY,POINT (31.24802 30.05191)
7332,Tokyo,35.686963,139.749462,Admin-0 capital,JPN,POINT (139.74946 35.68696)
7334,Paris,48.868639,2.331390,Admin-0 capital,FRA,POINT (2.35299 48.85809)
7335,Santiago,-33.448068,-70.668987,Admin-0 capital,CHL,POINT (-70.66899 -33.44807)
7340,Singapore,1.294979,103.853875,Admin-0 capital,SGP,POINT (103.85387 1.29498)